@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Festive&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Supermercado+One&display=swap");

/*font-family: 'Bebas Neue', cursive;*/
/*font-family: 'Festive', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Supermercado One', cursive;*/

/*VARIABLES*/
html {
  scroll-behavior: smooth;
}

/*BODY*/
:root {
  --color-uno: #69acfd30;
}
body {
  background-image: url("../images/brushed_alu.png");
  /*scroll-behavior: smooth;*/
  font-family: "Roboto", sans-serif;
  /*color: #464646;*/
  margin: 0 auto;
  max-width: 1800px;
}

/*GENERAL*/
header {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000;
}

/*HEADER*/
header,
header div,
nav ul {
  display: flex;
}

header {
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

header,
header div,
nav ul {
  display: flex;
}
.header__img-scorpion {
  width: 15px;
}
h1 {
  font-size: 11px;
  font-weight: bold;
}
header ul li {
  list-style: none;
  margin: 0 3px;
  color: #000000;
  font-weight: bold;
  border-left: solid 2px #000;
  padding: 0 3px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #69acfd30 50%, #00000000 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-position 0.5s;
}
header ul li:hover {
  background-position: left;
}
i[name="hola"]:hover {
  color: red;
}

a:hover span {
  opacity: 0.9;
  left: 50%;
  bottom: 10px;
  color: #000000;
}

/*MAIN*/

/*.presentation*/

.presentation {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;
}
.presentation div:first-child {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation div:last-child {
  width: 30%;
}
.presentation div:last-child img {
  width: 100%;
  border-radius: 50%;
}
.presentation h2 {
  font-size: 35px;
  font-family: "Reboto", italic;
  font-weight: 700;
  text-align: center;
}
.presentation p {
  font-size: 20px;
  font-family: "Reboto", italic;
  font-weight: 600;
  text-align: center;
}
.presentation nav {
  margin: 20px 0;
}
.presentation nav a {
  margin: 0 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Supermercado One", cursive;
  transition: 0.5s;
}
.presentation nav a:hover {
  color: #2e86c1;
}

/*.about*/
.about {
  background: linear-gradient(to bottom, #00000020 10%, #69acfd50 90%);
  backdrop-filter: blur(50px);
  margin: 20px 0;
  padding: 40px 0;
}
.about h2,
.about p {
  margin: 20px;
  margin-left: 10%;
  width: 55%;
}
.about__firm {
  width: 40px;
}

/*skills && hobbies*/
.skills-hobbies {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}
.skills-hobbies h2 {
  text-align: center;
}
.skills-hobbies div {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-hobbies .skill-hobbie__box {
  display: flex;
  justify-content: center;
  text-align: center;
}
.skill-hobbie__box {
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 20px auto;
  border: solid 1px #000000;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms;
}
.skills-hobbies .skill-hobbie__box:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.skill-hobbie__box .icon,
.skill-hobbie__box p {
  position: relative;
  z-index: 1;
  transition: all 200ms;
}

.skill-hobbie__box .icon {
  font-size: 50px;
  margin: auto;
}
.skills-hobbies .skill-hobbie__box:hover .icon {
  font-size: 30px;
  transform: translateY(0);
}
.skill-hobbie__box p {
  font-size: 14px;
  transform: translateY(100px);
  opacity: 0;
}

.skills-hobbies .skill-hobbie__box:hover p {
  transform: translateY(0);
  opacity: 1;
  color: black;
}
.skill-hobbie__box .background-hover {
  width: 50px;
  height: 50px;
  margin-top: 0;
  position: absolute;
  border-radius: 10px;
  transition: all 1s;
  background: linear-gradient(to bottom, #00000050 10%, #69acfd80 90%);
}
.skill-hobbie__box .background-hover2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 10px;
  transition: all 1s;
  background: linear-gradient(to bottom, #00000050, #69acfd40 70%);
}
.skill-hobbie__box .background-hover3 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  right: -50px;
  border-radius: 10px;
  transition: all 1s;
  background: linear-gradient(to bottom, #00000050, #69acfd40 70%);
}

.skill-hobbie__box:hover .background-hover {
  display: none;
}
.skill-hobbie__box:hover .background-hover2,
.skill-hobbie__box:hover .background-hover3 {
  width: 150px;
  height: 150px;
}

.skill-hobbie__box:hover .fa-html5,
.skill-hobbie__box:hover .fa-code-branch {
  color: #ff0000;
}
.skill-hobbie__box:hover .fa-css3-alt {
  color: #2965f1;
}
.skill-hobbie__box:hover .fa-bootstrap {
  color: #6f42c1;
}
.skill-hobbie__box:hover .fa-js-square {
  color: #ffdd33;
}
.skill-hobbie__box:hover .fa-react {
  color: #43d7ff;
}
.skill-hobbie__box:hover .fa-node-js {
  color: #598a2a;
}
.skill-hobbie__box:hover .fa-java {
  color: #4081c2;
}
.skill-hobbie__box:hover .fa-database {
  color: #2d5b88;
}
.skill-hobbie__box .fa-laptop-code {
  color: #48c9b080;
}
.skill-hobbie__box:hover .fa-laptop-code {
  color: #48c9b0;
}
.skill-hobbie__box .fa-shield-check {
  color: #1abc9c80;
}
.skill-hobbie__box:hover .fa-shield-check {
  color: #1abc9c;
}
.skill-hobbie__box .fa-earth-americas {
  color: #17a58980;
}
.skill-hobbie__box:hover .fa-earth-americas {
  color: #17a589;
}
.skill-hobbie__box .fa-tv {
  color: #148f7780;
}
.skill-hobbie__box:hover .fa-tv {
  color: #148f77;
}
.skill-hobbie__box .fa-futbol {
  color: #11786480;
}
.skill-hobbie__box:hover .fa-futbol {
  color: #117864;
}
.skill-hobbie__box .fa-fishing-rod {
  color: #0e625180;
}
.skill-hobbie__box:hover .fa-fishing-rod {
  color: #0e6251;
}

/*training*/

.training {
  margin: 20px 0;
  padding: 40px 0;
}
.training h2 {
  margin: 20px auto;
  text-align: center;
}
.training__container div {
  margin: 0 auto 15px;
}
.training {
  background: linear-gradient(to bottom, #00000020 10%, #69acfd50 90%);
  backdrop-filter: blur(50px);
}
.training__container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.training__container h3,
.training__container h4 {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 10px -3px #00000080;
  border-radius: 8px;
  padding: 5px;
  border: solid 1px #000000;
}
.training img {
  width: 160px;
  height: 110px;
  border: solid 2px #000000;
  border-radius: 10px;
  transform: translate(5px, -5px);
  box-shadow: -15px 15px 10px -3px #00000090;
}

/*proyects*/

.proyects {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}
.proyects h2 {
  text-align: center;
  padding: 10px;
}
.proyects__container {
  display: flex;
}
.proyects__container aside {
  width: 15%;
  min-width: 10%;
  height: 100%;
  background: linear-gradient(to bottom, #00000020 10%, #69acfd50 90%);
  padding: 10px;
  border-radius: 10px;
  /*border: solid 2px #000000;*/
  position: sticky;
  margin-top: 30px;
  top: 30px;
}
.proyects__container-titulo {
  font-family: "Roboto", italic;
  font-weight: bold;
  font-size: 20px;
  font-family: "Supermercado One", cursive;
}
.proyects__container-indice a {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Supermercado One", cursive;
  transition: font-size 0.5s;
}
.proyects__container-indice a:hover {
  font-size: 18px;
}
.proyects__container-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.proyects__container-box-box {
  display: flex;
}
.proyects__container-box-box div {
  text-align: center;
}
.proyects__container-box-box-img {
  width: 200%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}
.proyects__container-box-box-description {
  text-align: center;
  width: 100%;
  margin: auto;
  perspective: 1000px;
}

.proyects__container-box-box-description {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}

.card__father {
  margin-top: 30px;
  perspective: 1000px;
}
.card {
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 3s;
}

.card__front {
  background: url("../images/digitization-5140055_1920.jpg");
  background-size: cover;
  background-position: right;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card__back {
  transform: rotateY(180deg);
  background: white;
  background: url("../images/digitization-5140055_1920.jpg");
  background-size: cover;
  background-position: left;
  color: white;
}

.body__card-front {
  text-align: center;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(50px);
}

.bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.body__card_back {
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  transform: translateZ(50px);
}
.body__card_back p {
  margin-top: 5px;
  font-size: 18px;
}
.proyects__container-box-box-description h3 {
  margin: 0;
  font-size: 22px;
}
.proyects__container-box-box-description p i {
  font-size: 25px;
  margin: 1px;
  background-color: #000000;
  border-radius: 5px;
  padding: 5px;
}
.proyects__container-box-box-description .fa-html5 {
  color: #ff000099;
}
.proyects__container-box-box-description .fa-css3-alt {
  color: #2965f1;
}
.proyects__container-box-box-description .fa-bootstrap {
  color: #6f42c1;
  background-color: #000000;
  border-radius: 5px;
}
.proyects__container-box-box-description .fa-js-square {
  color: #ffdd3399;
}
.proyects__container-box-box-description .fa-react {
  color: #43d7ff;
}
.proyects__container-box-box-description .fa-node-js {
  color: #598a2a;
}
.proyects__container-box-box-description .fa-java {
  color: #f0b27a99;
}
.proyects__container-box-box-description .fa-database {
  color: #3498db;
}
.proyects__container-box-box img {
  width: 100%;
  border-radius: 10px;
  border: solid 2px #000000;
}
.proyects__container-box-box-description-btn {
  margin: 5px;
}
.proyects__container-box-box-description-btn button {
  margin: 5px;
}
.body__card-front-leer-mas,
.body__card_back-volver {
  color: #ffffff;
  background-color: #00000080;
  border: solid 2px #2e86c1;
  padding: 5px;
  border-radius: 5px;
}
.proyects__container-box-box-description-btn .repository {
  color: #0000ff;
  background-color: #ffffff80;
  border: solid 2px #000000;
  padding: 5px;
  border-radius: 5px;
}
.proyects__container-box-box-description-btn .demo {
  color: #000000;
  background-color: #2e86c180;
  border: solid 2px #ffffff99;
  padding: 5px;
  border-radius: 5px;
}
.body__card-front-leer-mas:hover,
.body__card_back-volver:hover,
.proyects__container-box-box-description-btn .repository:hover,
.proyects__container-box-box-description-btn .demo:hover {
  color: #000000;
  background: linear-gradient(to bottom, #00000050, #69acfd40 70%);
  cursor: pointer;
}

/*contact*/
.contact {
  margin: 0 auto;
  background: linear-gradient(to bottom, #00000020 10%, #69acfd50 90%);
  backdrop-filter: blur(12px);
  padding: 5px 0 80px;
}
.contact h2 {
  text-align: center;
  padding: 30px;
  margin: 20px 0;
}
.contact__formulario {
  width: 80%;
  background-image: url("../images/icons-6751206_1280.png");
  /*background-image: url("../images/contact-us-1014232_1280.png");*/
  background-position: center center;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #000000;
  background-color: #00000040;
  border-radius: 10px;
  margin: 0px auto;
}
.contact__formulario-box {
  width: 50%;
  color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  /*background-color: #00000040;*/
  background: linear-gradient(to bottom,#00000010, #00000090 40% , #00000010);
  backdrop-filter: blur(4px);
  /*-webkit-backdrop-filter: blur(12px);*/
  font-weight: 500;
  line-height: 20px;
}
.contact__formulario-box input::placeholder {
  color: #ffffff99;
}
.form__grupo-input,
.form__grupo {
  margin: 10px 0;
}
.form__label {
  cursor: pointer;
}
.form__grupo-input .form__input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  border: solid 2px #00000080;
  width: 98%;
  margin: 0 auto;
  background-color: #00000050;
  color: #ffffff;
}
.form__grupo-input .form__input:focus {
  outline: none;
  border: solid 2px #ffffff90;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.form__grupo-input textarea {
  resize: none;
  height: 150px;
  line-height: 25px;
}
.form__input-error {
  color: red;
  padding: 5px;
  background-color: #00000080;
  border-radius: 5px;
  display: none;
}
.form__input-error-activo {
  display: block;
}
.form__mensaje {
  background: #f66060;
  padding: 2px 10px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 3px 0px 30px #000000;
  display: none;
}
.form__validacion-estado {
  opacity: 0;
}
.form_btns button:last-child {
  margin-left: 10px;
}
.form_btn {
  line-height: 45px;
  width: 25%;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  border: none;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease all;
}
.form_btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.form__mensaje-exito {
  margin-bottom: 20px;
  font-size: 18px;
  color: #119200;
  text-align: center;
  background-color: #00000050;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.form__mensaje-exito-activo {
  display: block;
}
.form__mensaje-activo {
  display: block;
}

/* Validacion */

.form__grupo-correcto .form__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}
.form__grupo-incorrecto .form__label {
  color: #bb2929;
}
.form__grupo-incorrecto .form__validacion-estado {
  color: #bb2929;
  opacity: 1;
}
.form__grupo-incorrecto .form__input {
  border: 2px solid #bb2929;
}
.form__input-error-activo {
  display: block;
}

/*Footer*/
footer {
  text-align: center;
  color: #fff;
  color: var(--gris-footer);
  margin: 2% auto;
  margin-top: 20px;
}
footer p {
  padding-top: 10px;
}

/* ----- -----  Mediaqueries ----- ----- */
/* Tablets y phablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*body*/
  body {
    font-size: 0.9rem;
  }
  /*header*/
  header nav {
    display: none;
  }
  /*presentation*/
  .presentation h2 {
    font-size: 22px;
  }
  .presentation p {
    font-size: 15px;
  }
  .presentation nav a {
    font-size: 13px;
  }
  /*about*/
  .about h2,
  .about p {
    margin: 20px;
    margin-left: 10%;
    width: 80%;
  }
  /*skill-hobbies*/
  .skill-hobbie__box {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
  }
  .skill-hobbie__box .icon {
    font-size: 40px;
  }
  .skills-hobbies .skill-hobbie__box:hover .icon {
    font-size: 20px;
  }
  .skill-hobbie__box .background-hover {
    width: 40px;
    height: 40px;
    transition: all 1.5s;
  }
  .skill-hobbie__box .background-hover2 {
    width: 40px;
    height: 40px;
    transition: all 1.5s;
  }
  .skill-hobbie__box .background-hover3 {
    width: 40px;
    height: 40px;
    transition: all 1.5s;
  }
  /*training*/
  .training__container div {
    margin-right: 3px;
  }
  .training__container h3 {
    font-size: 14px;
  }
  .training__container h4 {
    font-size: 12px;
  }
  .training img {
    width: 120px;
    height: 70px;
  }
  /*proyects*/
  .proyects__container aside {
    display: none;
  }
  .proyects__container-box-box-img {
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 30px;
  }
  .proyects__container-box-box-description h3 {
    font-size: 18px;
  }
  .proyects__container-box-box-description p i {
    font-size: 20px;
  }
  .body__card_back p {
    font-size: 14px;
  }
  .card {
    height: 260px;
  }
  .contact__formulario-box {
    width: 75%;
  }
}

/* Teléfonos */
@media only screen and (max-width: 767px) {
  /*body*/
  body {
    font-size: 0.9rem;
  }
  /*header*/
  header nav {
    display: none;
  }
  /*presentation*/
  .presentation {
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
  }
  .presentation div:first-child {
    width: 100%;
    order: 1;
    align-items: flex-start;
  }
  .presentation div:last-child {
    width: 30%;
  }
  .presentation div:last-child img {
    width: 150%;
  }
  .presentation h2 {
    /*font-size: 20px;*/
    /*definir este tamaño de letra*/
    font-size: 19px;
    text-align: start;
  }
  .presentation p {
    font-size: 16px;
    text-align: start;
    margin: 0;
  }
  .presentation nav a {
    font-size: 12px;
  }
  /*about*/
  .about h2,
  .about p {
    margin: 20px;
    margin-left: 10%;
    width: 80%;
  }
  /*skill-hobbies*/
  .skills-hobbies div {
    justify-content: space-around;
  }
  .skill-hobbie__box {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
  }
  .skill-hobbie__box .icon {
    font-size: 40px;
  }
  .skills-hobbies .skill-hobbie__box:hover .icon {
    font-size: 20px;
  }
  .skill-hobbie__box .background-hover {
    width: 40px;
    height: 40px;
    transition: all 1.5s;
  }
  .skill-hobbie__box .background-hover2 {
    width: 40px;
    height: 40px;
    transition: all 1.5s;
  }
  .skill-hobbie__box .background-hover3 {
    width: 40px;
    height: 40px;
    transition: all 1.5s;
  }
  /*training*/

  .training__container h3 {
    font-size: 14px;
  }
  .training__container h4 {
    font-size: 12px;
  }
  .training img {
    width: 150px;
    height: 100px;
  }
  /*proyects*/
  .proyects__container aside {
    display: none;
  }
  .proyects__container-box-box-img {
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 30px;
  }
  .proyects__container-box-box-description h3 {
    font-size: 18px;
  }
  .proyects__container-box-box-description p i {
    font-size: 20px;
  }
  .body__card_back p {
    font-size: 14px;
  }
  .card {
    height: 260px;
  }
  .proyects__container-box-box {
    display: flex;
    flex-direction: column;
  }
  .proyects__container-box-box-img {
    width: 100%;
    margin-top: 20px;
  }
  .proyects__container-box-box-description {
    width: 80%;
    margin: 0 auto;
  }
  .card__father {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  /*contact*/
  .contact__formulario {
    /*border: none;*/
    /*background-color: none;*/
  }
  .contact__formulario-box {
    width: 85%;
    /*background-color: none;*/
  }
  .form__grupo-input .form__input,
  .form__input-error,
  .form__mensaje,
  .form__mensaje-exito {
    width: 90%;
  }
  /*footer*/
  footer {
    margin: 2% auto;
    margin-top: 20px;
  }
  footer p {
    padding-top: 10px;
    font-size: 10px;
  }
  footer div {
    font-size: 12px;
  }
}

/*
 * Presentacion sin efecto
 * Proyects card
 * Contact titulo y subtilo  aver
 * */
